<nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega"
     role="navigation">

  <div class="navbar-container container-fluid">
	  <div class="navbar-header">
		  <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar" ng-if="vm.isLoggedIn()">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="hamburger-bar"></span>
		  </button>
		  <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse" aria-expanded="false">
			  <i class="icon wb-more-horizontal" aria-hidden="true"></i>
		  </button>
		  <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
			  <img class="navbar-brand-logo" src="/client/assets/images/logo.png" title="Remark">
		  </div>
	  </div>
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar" ng-if="vm.isLoggedIn()">
        <li class="nav-item hidden-float" id="toggleMenubar">
          <a class="nav-link" data-toggle="menubar" href="#" role="button">
            <i class="icon hamburger hamburger-arrow-left">
              <span class="sr-only">Toggle menubar</span>
              <span class="hamburger-bar"></span>
            </i>
          </a>
        </li>
        <li class="nav-item hidden-sm-down" id="toggleFullscreen">
          <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
            <span class="sr-only">Toggle fullscreen</span>
          </a>
        </li>
      </ul>
      <!-- End Navbar Toolbar -->

      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
		  <li class="nav-item" ng-if="!vm.isLoggedIn()">
			  <a class="nav-link" ui-sref="signup" role="button">
				  <span>Signup</span>
			  </a>
		  </li>
		  <li class="nav-item" ng-if="!vm.isLoggedIn()">
				<a class="nav-link" ui-sref="login" role="button">
					<span>Login</span>
				</a>
			</li>

        <li class="nav-item dropdown" ng-if="vm.isLoggedIn()">
          <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
             data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="/client/assets/images/portraits/5.jpg" alt="...">
                <i></i>
              </span>
          </a>
          <div class="dropdown-menu" role="menu">
            <!--<a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-payment" aria-hidden="true"></i> Billing</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
            <div class="dropdown-divider" role="presentation"></div>-->
            <a class="dropdown-item" href="javascript:void(0)" ui-sref="logout" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
          </div>
        </li>
      </ul>
      <!-- End Navbar Toolbar Right -->

      <div class="navbar-brand navbar-brand-center">
        <a ui-sref="main">
          <img class="navbar-brand-logo" src="/client/assets/images/logo.png" title="Remark">
        </a>
      </div>
    </div>
    <!-- End Navbar Collapse -->

    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search...">
            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                    data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>
<div class="site-menubar" ng-show="vm.isLoggedIn()">
  <div class="site-menubar-header">
    <div class="cover overlay">
      <img class="cover-image" src="/client/assets/images/dashboard-header.jpg"
           alt="...">
      <div class="overlay-panel vertical-align overlay-background">
        <div class="vertical-align-middle">
          <a class="avatar avatar-lg" href="javascript:void(0)">
            <img src="/client/assets/images/portraits/1.jpg" alt="">
          </a>
          <div class="site-menubar-info">
            <h5 class="site-menubar-user">{{vm.getCurrentUser().firstName }} {{ vm.getCurrentUser().lastName }}</h5>
            <p class="site-menubar-email">{{vm.getCurrentUser().email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <li class="site-menu-item" ui-sref-active="active">
            <a ui-sref="dashboard">
              <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Dashboard</span>
              <div class="site-menu-badge">
              </div>
            </a>
          </li>
			<li class="site-menu-item" ui-sref-active="active">
				<a ui-sref="studio" ui-sref-opts="{reload:true}">
					<i class="site-menu-icon wb-plugin" aria-hidden="true"></i>
					<span class="site-menu-title">Studio</span>
					<div class="site-menu-badge">
					</div>
				</a>
			</li>
        </ul>
      </div>
    </div>
  </div>
</div>
