mixin intro(title, description)
    header
        .header-content
            .header-content-inner
                h1#homeHeading #{title}
                hr
                p
                    | #{description}
