section#services
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading At Your Service
                hr.primary
    .container
        .row
            .col-lg-3.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-bookmark.text-primary.sr-icons
                    h3 Sturdy Templates
                    p.text-muted Our templates are updated regularly so they don't break.
            .col-lg-3.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
                    h3 Ready to Ship
                    p.text-muted You can use this theme as is, or you can make changes!
            .col-lg-3.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-calendar.text-primary.sr-icons
                    h3 Up to Date
                    p.text-muted We update dependencies to keep things fresh.
            .col-lg-3.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-heart.text-primary.sr-icons
                    h3 Made with Love
                    p.text-muted You have to make your websites with love these days!
